ASSIGNMENT-2

In [2]:
#1
s=int(input("enter year :"))
i=['monkey','rooster','dog','pig','rat','ox','tiger','rabbit','dragon','snake','horse','sheep']
n=i[s%12]
print(n)

enter year :2020
rat

In [3]:
#2
s=int(input("enter distance"))
w=int(input("enter weight")) 
if s>=500 :
      if w>=100 :
        cost = 5*s 
      elif w>=10 and w<100:
        cost=6*s
      else:
        cost=7*s
else: 
      if w>=100:
        cost=8*s
      else:
        cost=9*s
print(cost)

enter distance500
enter weight100
2500

In [4]:
#3
print("types of seats avilable:stalls,circle,box,upper class")
s=input("enter type of seat")
if s=='stalls':
    n=625
elif s=="circle":
        n=750
elif s=="box":
        n=1000
elif s=="upper class":
            n=850
print("payment modes avalible:card,cash")
p=input("enter payment mode")
if p=="card":
    n=n-n*(10/100)
    print(n)
else:
    n=n-n*(1/20)
    print(n)

types of seats avilable:stalls,circle,box,upper class
enter type of seatbox
payment modes avalible:card,cash
enter payment modecash
950.0

In [5]:
#4
w=int(input("enter weight of water in kgs"))
i=int(input("enter the initial temp :"))
f=int(input("enter the final temp :"))
q=(w)*(f-i)*4184
print(q)

enter weight of water in kgs250
enter the initial temp :45
enter the final temp :60
15690000

In [7]:
#5
m=input("emter month: ")
if (m=="december" or m=="january" or m=="february"):
    print("winter")
elif (m=="march" or m=="april" or m=="may"):
    print("spring")
elif (m=="june" or m=="july" or m=="august"):
    print("summer")
else:
    print("autumn")

emter month: november
autumn

In [9]:
#6
w=int(input("enter weight"))
h=int(input("enter height"))
b=(w*0.45359237)/(h*0.0254)**2
if b<18.5:
  print("underweight")
elif 25.0<=b<30.0:
  print("over weight")
else:
  print("obese")

enter weight50
enter height6
obese

In [12]:
#7
i=int(input("Enter the elements between 100 and 1000:" ))
sum=0
while i>0:
  n=i%10
  sum=sum+n
  i=int(i/10)
print(sum)

Enter the elements between 100 and 1000:233
8

In [19]:
#8
for i in range(1,1001):
  sum=0
  t=i
  while i>0:
       h=i%10
       sum=sum*10+h
       i=i//10
  if t==sum:
       print(t,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [20]:
#9
for i in range(1,1001):
    sum=0
    t=i
    while i>0:
      n=i%10
      sum+=n*n*n
      i=i//10
    if sum==t:
      print(t,end=" ")

1 153 370 371 407

In [21]:
#10
for i in range(1,101):
    if i%3==0 and i%5==0:
       print("fizz buzz")
    elif i % 3==0:
       print("Fizz") 
    elif i % 5==0:
       print("Buzz")
    else:
       print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizz buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizz buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizz buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizz buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizz buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizz buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [23]:
#11
H=int(input("Enter the height of well="))
U=int(input("Enter the meters which are climbed="))
D=int(input("Enter slips down="))
S=((H-U)+(U-D))//(U-D)
print(S+1)

Enter the height of well=200
Enter the meters which are climbed=50
Enter slips down=1
5